/* Background image for the body */
body {
    background-image: url(/public/Images/subway.webp);
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaf3e8; /* Light beige */
}

/* Styling for h1 */
h1 {
    text-align: center;
    text-decoration: underline;
    color: #800020; /* Wine color */
}

/* Container styles */
.container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    background-color: #f3f1e8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* General paragraph styles */
p {
    color: #444;
    margin-bottom: 20px;
}

/* Navbar styles */
.navbar-nav {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    list-style-type: none;
}

.nav-item {
    justify-content: flex-end;
    margin-left: 15px; /* Adjust spacing between menu items */
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.nav-link:hover {
    background-color: white;
    color: red;
}

/* Styles for additional information */
.additional-info {
    margin-top: 20px;
}

/* Styles for links */
.link {
    color: #800020; 
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

/* Styles for headings */
.heading {
    text-align: center;
    text-decoration: underline;
    color: #800020; /* Wine color */
}

/* Footer styles */
.site-footer {
    background-color: #f3f1e8; /* Light beige background */
    padding: 20px;
    text-align: center;
    width: 100%;
    position: fixed; /* Set position to fixed */
    bottom: 0;
    left: 0;
    z-index: 1000;
}

/* Add padding to the bottom of the content area */
.container {
    padding-bottom: 60px; /* Adjust this value to match the height of your footer */
}
