/* Background image for the body */
body {
    background-image: url(/public/Images/subway.webp);
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaf3e8; /* Light beige */
}

/* Styling for h1 */
h1 {
    text-align: center;
    text-decoration: underline;
    color: #800020; /* Wine color */
}

/* General paragraph styles */
p {
    color: #444;
    margin-bottom: 20px;
}

/* Navbar styles */
.navbar-nav {
    margin: 0;
    padding: 1px 0;
    position: relative;
    display: flex;
    list-style-type: none;
}

.nav-item {
    justify-content: flex-end;
    margin-left: 15px; /* Adjust spacing between menu items */
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

.nav-link:hover {
    background-color: #800020; /* Wine color */
    color: white;
}

/* Styles for additional information */
.additional-info {
    margin-top: 20px;
}

/* Styles for links */
.link {
    color: #800020; 
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

/* Styles for headings */
.heading {
    text-align: center;
    text-decoration: underline;
    color: #800020; /* Wine color */
}

/* Footer styles */
.site-footer {
    background-color: #333;
    color: white;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    position: relative; /* Remove fixed positioning */
    bottom: 0;
}